In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt


from sklearn import linear_model

In [13]:
df= pd.read_csv("C:/Users/jadha/Downloads/Quote-Equity-LT-EQ-01-07-2023-to-01-08-2023.csv")

In [14]:
df['Date'] = pd.to_datetime(df['Date'], format='%d-%b-%y')
df=df.sort_values(by='Date',ascending=True)
df

,Date,series,OPEN,HIGH,LOW,PREV. CLOSE,ltp,close,vwap,52W H,52W L,VOLUME,VALUE,No of trades
0,2023-07-03,EQ,"2,478.20","2,492.40","2,448.00","2,475.55","2,456.00","2,454.05","2,464.64","2,492.40","1,550.20","1,078,456","2,658,008,200.35","77,218"
1,2023-07-04,EQ,"2,458.20","2,484.40","2,458.20","2,454.05","2,463.00","2,461.85","2,468.70","2,492.40","1,550.20","1,441,581","3,558,836,405.10","92,291"
2,2023-07-05,EQ,"2,461.00","2,484.95","2,454.35","2,461.85","2,472.00","2,470.80","2,469.27","2,492.40","1,550.20","1,191,896","2,943,109,995.05","78,418"
3,2023-07-06,EQ,"2,468.10","2,499.95","2,467.55","2,470.80","2,487.00","2,488.60","2,489.92","2,499.95","1,550.20","1,796,824","4,473,950,531.60","87,551"
4,2023-07-07,EQ,"2,482.75","2,504.00","2,444.60","2,488.60","2,452.00","2,449.35","2,463.95","2,504.00","1,550.20","1,837,661","4,527,902,781.45","105,241"
5,2023-07-10,EQ,"2,450.00","2,463.35","2,420.00","2,449.35","2,445.10","2,438.75","2,436.66","2,504.00","1,634.60","1,178,479","2,871,549,715.85","75,892"
6,2023-07-11,EQ,"2,447.20","2,479.00","2,447.20","2,438.75","2,478.35","2,474.55","2,469.28","2,504.00","1,634.60","1,219,658","3,011,679,718.55","83,552"
7,2023-07-12,EQ,"2,480.30","2,485.95","2,447.80","2,474.55","2,455.00","2,454.95","2,462.68","2,504.00","1,634.60","1,822,435","4,488,079,945.35","98,685"
8,2023-07-13,EQ,"2,466.00","2,484.90","2,446.25","2,454.95","2,458.30","2,450.15","2,465.52","2,504.00","1,634.60","1,141,663","2,814,795,698.50","98,237"
9,2023-07-14,EQ,"2,450.25","2,477.05","2,448.65","2,450.15","2,475.00","2,472.25","2,464.74","2,504.00","1,634.60","845,623","2,084,241,353.50","61,308"
10,2023-07-17,EQ,"2,475.00","2,494.00","2,465.00","2,472.25","2,474.00","2,468.80","2,476.42","2,504.00","1,690.00","878,697","2,176,024,418.05","75,714"
11,2023-07-18,EQ,"2,469.00","2,489.95","2,468.10","2,468.80","2,479.00","2,474.70","2,476.79","2,504.00","1,690.00","720,865","1,785,433,516.25","61,896"
12,2023-07-19,EQ,"2,474.60","2,502.95","2,466.40","2,474.70","2,497.00","2,494.15","2,489.72","2,504.00","1,690.00","1,431,080","3,562,986,689.45","122,951"
13,2023-07-20,EQ,"2,494.00","2,495.70","2,469.05","2,494.15","2,490.10","2,489.70","2,484.26","2,504.00","1,690.00","1,045,704","2,597,799,460.05","73,092"
14,2023-07-21,EQ,"2,522.00","2,595.00","2,521.10","2,489.70","2,587.00","2,586.25","2,566.56","2,595.00","1,690.00","4,610,417","11,832,913,691.90","241,210"
15,2023-07-24,EQ,"2,637.65","2,638.00","2,583.90","2,586.25","2,607.00","2,605.25","2,611.42","2,638.00","1,741.90","2,155,297","5,628,390,254.05","109,705"
16,2023-07-25,EQ,"2,616.00","2,617.75","2,553.00","2,605.25","2,565.00","2,560.90","2,578.92","2,638.00","1,741.90","2,068,876","5,335,456,329.50","126,959"
17,2023-07-26,EQ,"2,591.00","2,673.85","2,585.00","2,560.90","2,652.00","2,646.25","2,654.97","2,673.85","1,741.90","5,820,099","15,452,214,090.35","248,160"
18,2023-07-27,EQ,"2,668.95","2,676.35","2,646.45","2,646.25","2,661.95","2,660.20","2,661.87","2,676.35","1,741.90","2,117,794","5,637,296,979.40","134,044"
19,2023-07-28,EQ,"2,660.15","2,668.15","2,625.00","2,660.20","2,649.00","2,649.55","2,650.01","2,676.35","1,741.90","1,325,724","3,513,183,483.15","117,262"
20,2023-07-31,EQ,"2,655.00","2,690.00","2,631.10","2,649.55","2,682.00","2,681.35","2,658.32","2,690.00","1,773.00","1,284,981","3,415,895,227.95","95,837"
21,2023-08-01,EQ,"2,681.35","2,689.00","2,655.35","2,681.35","2,670.00","2,666.65","2,668.58","2,690.00","1,773.00","1,298,745","3,465,799,252.60","104,647"

In [15]:
numeric_columns = ['OPEN', 'HIGH', 'LOW', 'PREV. CLOSE', 'close', 'VOLUME', 'Next_Open', 'No of trades']

# Shift 'OPEN' column to 'Next_Open'
df['Next_Open'] = df['OPEN'].shift(-1)

# Drop rows with missing values
df.dropna(inplace=True)

# Convert numeric columns to numeric type
for col in numeric_columns:
    df[col] = df[col].str.replace(',', '').astype(float)

df

,Date,series,OPEN,HIGH,LOW,PREV. CLOSE,ltp,close,vwap,52W H,52W L,VOLUME,VALUE,No of trades,Next_Open
0,2023-07-03,EQ,2478.20,2492.40,2448.00,2475.55,"2,456.00",2454.05,"2,464.64","2,492.40","1,550.20",1078456.0,"2,658,008,200.35",77218.0,2458.20
1,2023-07-04,EQ,2458.20,2484.40,2458.20,2454.05,"2,463.00",2461.85,"2,468.70","2,492.40","1,550.20",1441581.0,"3,558,836,405.10",92291.0,2461.00
2,2023-07-05,EQ,2461.00,2484.95,2454.35,2461.85,"2,472.00",2470.80,"2,469.27","2,492.40","1,550.20",1191896.0,"2,943,109,995.05",78418.0,2468.10
3,2023-07-06,EQ,2468.10,2499.95,2467.55,2470.80,"2,487.00",2488.60,"2,489.92","2,499.95","1,550.20",1796824.0,"4,473,950,531.60",87551.0,2482.75
4,2023-07-07,EQ,2482.75,2504.00,2444.60,2488.60,"2,452.00",2449.35,"2,463.95","2,504.00","1,550.20",1837661.0,"4,527,902,781.45",105241.0,2450.00
5,2023-07-10,EQ,2450.00,2463.35,2420.00,2449.35,"2,445.10",2438.75,"2,436.66","2,504.00","1,634.60",1178479.0,"2,871,549,715.85",75892.0,2447.20
6,2023-07-11,EQ,2447.20,2479.00,2447.20,2438.75,"2,478.35",2474.55,"2,469.28","2,504.00","1,634.60",1219658.0,"3,011,679,718.55",83552.0,2480.30
7,2023-07-12,EQ,2480.30,2485.95,2447.80,2474.55,"2,455.00",2454.95,"2,462.68","2,504.00","1,634.60",1822435.0,"4,488,079,945.35",98685.0,2466.00
8,2023-07-13,EQ,2466.00,2484.90,2446.25,2454.95,"2,458.30",2450.15,"2,465.52","2,504.00","1,634.60",1141663.0,"2,814,795,698.50",98237.0,2450.25
9,2023-07-14,EQ,2450.25,2477.05,2448.65,2450.15,"2,475.00",2472.25,"2,464.74","2,504.00","1,634.60",845623.0,"2,084,241,353.50",61308.0,2475.00
10,2023-07-17,EQ,2475.00,2494.00,2465.00,2472.25,"2,474.00",2468.80,"2,476.42","2,504.00","1,690.00",878697.0,"2,176,024,418.05",75714.0,2469.00
11,2023-07-18,EQ,2469.00,2489.95,2468.10,2468.80,"2,479.00",2474.70,"2,476.79","2,504.00","1,690.00",720865.0,"1,785,433,516.25",61896.0,2474.60
12,2023-07-19,EQ,2474.60,2502.95,2466.40,2474.70,"2,497.00",2494.15,"2,489.72","2,504.00","1,690.00",1431080.0,"3,562,986,689.45",122951.0,2494.00
13,2023-07-20,EQ,2494.00,2495.70,2469.05,2494.15,"2,490.10",2489.70,"2,484.26","2,504.00","1,690.00",1045704.0,"2,597,799,460.05",73092.0,2522.00
14,2023-07-21,EQ,2522.00,2595.00,2521.10,2489.70,"2,587.00",2586.25,"2,566.56","2,595.00","1,690.00",4610417.0,"11,832,913,691.90",241210.0,2637.65
15,2023-07-24,EQ,2637.65,2638.00,2583.90,2586.25,"2,607.00",2605.25,"2,611.42","2,638.00","1,741.90",2155297.0,"5,628,390,254.05",109705.0,2616.00
16,2023-07-25,EQ,2616.00,2617.75,2553.00,2605.25,"2,565.00",2560.90,"2,578.92","2,638.00","1,741.90",2068876.0,"5,335,456,329.50",126959.0,2591.00
17,2023-07-26,EQ,2591.00,2673.85,2585.00,2560.90,"2,652.00",2646.25,"2,654.97","2,673.85","1,741.90",5820099.0,"15,452,214,090.35",248160.0,2668.95
18,2023-07-27,EQ,2668.95,2676.35,2646.45,2646.25,"2,661.95",2660.20,"2,661.87","2,676.35","1,741.90",2117794.0,"5,637,296,979.40",134044.0,2660.15
19,2023-07-28,EQ,2660.15,2668.15,2625.00,2660.20,"2,649.00",2649.55,"2,650.01","2,676.35","1,741.90",1325724.0,"3,513,183,483.15",117262.0,2655.00
20,2023-07-31,EQ,2655.00,2690.00,2631.10,2649.55,"2,682.00",2681.35,"2,658.32","2,690.00","1,773.00",1284981.0,"3,415,895,227.95",95837.0,2681.35

In [17]:

    
input_columns = ['OPEN', 'HIGH', 'LOW', 'PREV. CLOSE','close','Next_Open' ]
output_columns = ['HIGH', 'LOW',]
   

input_val = df[input_columns].iloc[:-1]
output_val = df[output_columns].iloc[1:]

input_val

       OPEN     HIGH      LOW  PREV. CLOSE    close  Next_Open
0   2478.20  2492.40  2448.00      2475.55  2454.05    2458.20
1   2458.20  2484.40  2458.20      2454.05  2461.85    2461.00
2   2461.00  2484.95  2454.35      2461.85  2470.80    2468.10
3   2468.10  2499.95  2467.55      2470.80  2488.60    2482.75
4   2482.75  2504.00  2444.60      2488.60  2449.35    2450.00
5   2450.00  2463.35  2420.00      2449.35  2438.75    2447.20
6   2447.20  2479.00  2447.20      2438.75  2474.55    2480.30
7   2480.30  2485.95  2447.80      2474.55  2454.95    2466.00
8   2466.00  2484.90  2446.25      2454.95  2450.15    2450.25
9   2450.25  2477.05  2448.65      2450.15  2472.25    2475.00
10  2475.00  2494.00  2465.00      2472.25  2468.80    2469.00
11  2469.00  2489.95  2468.10      2468.80  2474.70    2474.60
12  2474.60  2502.95  2466.40      2474.70  2494.15    2494.00
13  2494.00  2495.70  2469.05      2494.15  2489.70    2522.00
14  2522.00  2595.00  2521.10      2489.70  2586.25    2637.65
15  2637.65  2638.00  2583.90      2586.25  2605.25    2616.00
16  2616.00  2617.75  2553.00      2605.25  2560.90    2591.00
17  2591.00  2673.85  2585.00      2560.90  2646.25    2668.95
18  2668.95  2676.35  2646.45      2646.25  2660.20    2660.15
19  2660.15  2668.15  2625.00      2660.20  2649.55    2655.00

In [18]:
# Create and train your regression model
reg = linear_model.LinearRegression()
reg.fit(input_val, output_val)

LinearRegression()

In [19]:

df.drop(df.index[-1], inplace=True)
df

,Date,series,OPEN,HIGH,LOW,PREV. CLOSE,ltp,close,vwap,52W H,52W L,VOLUME,VALUE,No of trades,Next_Open
0,2023-07-03,EQ,2478.20,2492.40,2448.00,2475.55,"2,456.00",2454.05,"2,464.64","2,492.40","1,550.20",1078456.0,"2,658,008,200.35",77218.0,2458.20
1,2023-07-04,EQ,2458.20,2484.40,2458.20,2454.05,"2,463.00",2461.85,"2,468.70","2,492.40","1,550.20",1441581.0,"3,558,836,405.10",92291.0,2461.00
2,2023-07-05,EQ,2461.00,2484.95,2454.35,2461.85,"2,472.00",2470.80,"2,469.27","2,492.40","1,550.20",1191896.0,"2,943,109,995.05",78418.0,2468.10
3,2023-07-06,EQ,2468.10,2499.95,2467.55,2470.80,"2,487.00",2488.60,"2,489.92","2,499.95","1,550.20",1796824.0,"4,473,950,531.60",87551.0,2482.75
4,2023-07-07,EQ,2482.75,2504.00,2444.60,2488.60,"2,452.00",2449.35,"2,463.95","2,504.00","1,550.20",1837661.0,"4,527,902,781.45",105241.0,2450.00
5,2023-07-10,EQ,2450.00,2463.35,2420.00,2449.35,"2,445.10",2438.75,"2,436.66","2,504.00","1,634.60",1178479.0,"2,871,549,715.85",75892.0,2447.20
6,2023-07-11,EQ,2447.20,2479.00,2447.20,2438.75,"2,478.35",2474.55,"2,469.28","2,504.00","1,634.60",1219658.0,"3,011,679,718.55",83552.0,2480.30
7,2023-07-12,EQ,2480.30,2485.95,2447.80,2474.55,"2,455.00",2454.95,"2,462.68","2,504.00","1,634.60",1822435.0,"4,488,079,945.35",98685.0,2466.00
8,2023-07-13,EQ,2466.00,2484.90,2446.25,2454.95,"2,458.30",2450.15,"2,465.52","2,504.00","1,634.60",1141663.0,"2,814,795,698.50",98237.0,2450.25
9,2023-07-14,EQ,2450.25,2477.05,2448.65,2450.15,"2,475.00",2472.25,"2,464.74","2,504.00","1,634.60",845623.0,"2,084,241,353.50",61308.0,2475.00
10,2023-07-17,EQ,2475.00,2494.00,2465.00,2472.25,"2,474.00",2468.80,"2,476.42","2,504.00","1,690.00",878697.0,"2,176,024,418.05",75714.0,2469.00
11,2023-07-18,EQ,2469.00,2489.95,2468.10,2468.80,"2,479.00",2474.70,"2,476.79","2,504.00","1,690.00",720865.0,"1,785,433,516.25",61896.0,2474.60
12,2023-07-19,EQ,2474.60,2502.95,2466.40,2474.70,"2,497.00",2494.15,"2,489.72","2,504.00","1,690.00",1431080.0,"3,562,986,689.45",122951.0,2494.00
13,2023-07-20,EQ,2494.00,2495.70,2469.05,2494.15,"2,490.10",2489.70,"2,484.26","2,504.00","1,690.00",1045704.0,"2,597,799,460.05",73092.0,2522.00
14,2023-07-21,EQ,2522.00,2595.00,2521.10,2489.70,"2,587.00",2586.25,"2,566.56","2,595.00","1,690.00",4610417.0,"11,832,913,691.90",241210.0,2637.65
15,2023-07-24,EQ,2637.65,2638.00,2583.90,2586.25,"2,607.00",2605.25,"2,611.42","2,638.00","1,741.90",2155297.0,"5,628,390,254.05",109705.0,2616.00
16,2023-07-25,EQ,2616.00,2617.75,2553.00,2605.25,"2,565.00",2560.90,"2,578.92","2,638.00","1,741.90",2068876.0,"5,335,456,329.50",126959.0,2591.00
17,2023-07-26,EQ,2591.00,2673.85,2585.00,2560.90,"2,652.00",2646.25,"2,654.97","2,673.85","1,741.90",5820099.0,"15,452,214,090.35",248160.0,2668.95
18,2023-07-27,EQ,2668.95,2676.35,2646.45,2646.25,"2,661.95",2660.20,"2,661.87","2,676.35","1,741.90",2117794.0,"5,637,296,979.40",134044.0,2660.15
19,2023-07-28,EQ,2660.15,2668.15,2625.00,2660.20,"2,649.00",2649.55,"2,650.01","2,676.35","1,741.90",1325724.0,"3,513,183,483.15",117262.0,2655.00

In [21]:

# Now you can use the trained model for prediction
dopen = float(input("entrer open value:" ))
dhigh = float(input("entrer high value:" ))
dlow = float(input("entrer low value:" ))
dprevclose = float(input("entrer prevclose value:" ))
dclose = float(input("entrer close value:" ))
dnxtopen = float(input("entrer nxtopen value:" ))
input_values = [[dopen, dhigh, dlow, dprevclose,dclose,dnxtopen]]
predicted_values = reg.predict(input_values)
print(predicted_values)

entrer open value:2655.00
entrer high value:2690.00
entrer low value:2631.10
entrer prevclose value:2649.55
entrer close value:2682.00
entrer nxtopen value:2681.35
[[2687.3176521  2638.18506488]]

C:\Users\jadha\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [134]:
# input_value = 3300
# # Reshape the input value as a 2D array2681.35
# input_value_reshaped = [[input_value]

In [113]:

# print(prediction)